<footer>
    <section class="upper-footer py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4 my-5">
                    <div class="text-center">
                        <h4 class="text-uppercase">Location</h4>
                        <p>2215 John Daniel Drive</p>
                        <p>Clark, MO 65243</p>
                    </div>
                </div>
                <div class="col-md-4 my-5">
                    <div class="text-center">
                        <h4 class="text-uppercase">AROUND THE WEB</h4>
                        <div class="socail-icons row w-50 m-auto" >
                            <div class="col-3">
                                <i class="s-icon fa-brands fa-facebook  fa-lg"></i>
                            </div>

                            <div class="col-3">
                                <i class="s-icon fa-brands fa-twitter  fa-lg"></i>
                            </div>

                            <div class="col-3">
                                <i class="s-icon fa-brands fa-linkedin-in  fa-lg"></i>
                            </div>

                            <div class="col-3">
                                <i class="s-icon fa-solid fa-globe  fa-lg"></i>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-5">
                    <div class="text-center">
                        <h4 class="text-uppercase">ABOUT FREELANCER</h4>
                        <p>Freelance is a free to use, licensed Bootstrap theme created by Aya Ragab</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class=" text-center">
        <p class="down-footer p-2 mb-0">Copyright © Your Website 2021</p>
    </div>
</footer>