:root {
    --main-color: #1abc9c;
    --second-color: #2c3e50;
}

.heading-container {
    text-align: center;
    color: white;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 5px;
  }
  
  .decoration {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
  }
  
  .decoration .line {
    flex-grow: 1;
    height: 5px;
    background-color: white; 
    max-width: 8%;  
  }
  
  .decoration .star {
    font-size: 1.7rem; 
    color: white; 
  }
  