<section class="home-section py-5">
    <div class="container">
        <div class="text-center text-white">
            <img src="/images/avataaars.svg" class="avatar-img my-5 " alt="Avatar Image">
           

            <div class="heading-container">
                <h1 class="fs-1 text-uppercase fw-bold heading-with-decoration">
                    start Framework
                </h1>
                <div class="decoration">
                  <span class="line"></span>
                  <span class="star">★</span>
                  <span class="line"></span>
                </div>
              </div>
            <p class="mt-2 pb-2 mb-0">
                Graphic Artist - Web Designer - Illustrator

            </p>
        </div>
    </div>
</section>